<p id="notice"><%= notice %></p>

<p>
  <strong>Rfid:</strong>
  <%= @item.rfid %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image_url(:thumb).to_s if @item.image? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
